.image-div{
    background-image: url("../../../assets/images/PROD_Kutch-karigar-Banner_1635261824492.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}